.cart-paying-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid black;

    .cart-paying-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
        height: auto;
        text-align: left; 
        justify-items: center; 

        .column-left-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-end;
     
            .column-left{
                display: flex;
                flex-direction: column;
                width: 50%;
                align-items: flex-start;

                .column-left-header {
                   
                }
            
                .column-left-billing-title {
    
                }

                .column-left-dates {
                 
                    .column-left-dates-titles {

                    }
                    .cart-paying-form-group-dates {
                    
                        .form-group {
                            @include input-pay-element();
                        }
                       
                    }
                }

                .column-left-direction {
                    .column-left-direction-title {

                    }

                    .cart-paying-form-group-address {

                        .form-group {
                            @include input-pay-element();
                        }

                    }
                }

                .column-left-pay-method {
                    .column-left-direction-title {

                    }
                    .cart-paying-form-group-card {
                        .form-group {
                            @include input-pay-element();
                        }
                       

                    }

                }
            }


        }
        .column-right-wrapper {
            width: 100%;
            background-color: $offwhite;
            padding: 50px 0 0 20px;

            .column-right {
                display: flex;
                flex-direction: column;
                width: 50%;
                justify-content: left;

                .column-right-header {

                }

                .resume-price-wrapper {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    .resumen-price-text {
                        display: flex;
                        flex-direction: column;
                    }
                    .resumen-price-number {
                        display: flex;
                        flex-direction: column;
                    }

                }
            }

        }
    }
}