.course-details-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    min-height: 73vh;

    .course-details-image {
        display: flex;
        margin: 0 auto;
        top: 50px;
        img {
            margin: 15px 0px;
            max-width: 80%;
            max-height: 350px;
            border-radius: 5px;
            object-fit: cover;
        }

    }

    .course-details-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
        .course-details-text-header{
            h1.title-with-click {
                cursor: pointer;
            }
        }
        .course-details-text-price{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 50px;

            .course-content-price {
                justify-content: center;
                text-align: center;
                font-weight: 700;
                font-size: 1.5em;
            }

            .course-content-price-through{
                color: gray;
                text-decoration: line-through;
                font-weight: 700;
                
            }
            .course-content-discounted-price{
                justify-content: center;
                text-align: center;
                color: red;
                font-weight: 700;
                font-size: 1.5em;

            }
        }

    }
}

/*------------ responsive --------------*/

@media (max-width: 1024px) {
    .course-details-wrapper {
        padding: 10px;
        width: 70%; // Ajusta el ancho para pantallas de 1024px
        margin: 0 auto;

        .course-details-text {
            .course-details-text-header {
                h1.title-with-click {
                    font-size: 1.4em; // Ajusta el tamaño de la fuente para 1024px
                }
            }
            .course-details-text-price {
                .course-content-price,
                .course-content-discounted-price {
                    font-size: 1.3em; // Ajusta el tamaño de la fuente para precios
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .course-details-wrapper {
        padding: 10px;
        width: 90%;
        margin: 0 auto;

        .course-details-text {
            .course-details-text-header {
                h1.title-with-click {
                    font-size: 1.2em; // Ajusta el tamaño de la fuente para 768px
                }
            }
            .course-details-text-price {
                .course-content-price,
                .course-content-discounted-price {
                    font-size: 1.1em; // Ajusta el tamaño de la fuente para precios
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .course-details-wrapper {
        padding: 5px;
        width: 90%;
        margin: 0 auto;

        .course-details-text {
            .course-details-text-header {
                h1.title-with-click {
                    font-size: 0.8em; // Ajusta el tamaño de la fuente para 480px
                }
            }
            .course-details-text-price {
                .course-content-price,
                .course-content-discounted-price {
                    font-size: 0.8em; // Ajusta el tamaño de la fuente para precios
                }
            }
        }
    }
}
