
    .dashboard-dates {
        margin: 0 auto;
        @include input-element();
        @include base-grid();

        h3 {
            margin: 0;
        }

        .dashboard-dates-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;

            h2 {
                margin: 0;
            }

            .btn-save {
                @include btn-save;
            }
        }

        .dashboard-dates-title h3 {
            margin: 0;
        }

        .dashboard-form-group-name {
            @include form-group-name(3);
        }

        .dashboard-form-group-name-center {
            @include form-group-name(2);
        }

        .dashboard-form-group-address {
            @include form-group-address();
        }

        .dashboard-form-group-card {
            @include form-group-card();
        }
    }

    .dashboard-courses {
        display: grid;

        .dashboard-dates-title h3 {
            display: flex;
            width: 100%;
            justify-content: left;
            margin: 0;
        }

        .dashboard-courses-content {
            @include dashboard-courses-content();
            width: 100%;
            height: 200px;

            .dashboard-course-process {
                @include dashboard-process();
                cursor: pointer;
            }

            .dashboard-course-completed {
                @include dashboard-completed();
                cursor: pointer;
            }

            .dashboard-course-favorites {
                @include dashboard-favorites();
                cursor: pointer;
            }

            .dashboard-course-all {
                @include dashboard-favorites();
                cursor: pointer;
            }
        }

    }

    .dashboard-centers {

        .dashboard-dates-title h3 {
            margin: 0;
        }

    }

    .dashboard-professors {

        .dashboard-dates-title h3 {
            margin: 0;
        }

    }

    .dashboard-bills {

        .dashboard-dates-title h3 {
            margin: 0;
        }

    }
