/*---------- BUTTONS STYLES --------------- */

@mixin btn-save {
    @include base-btn;
    background-color: $mediumgrey;
    cursor: not-allowed;
    border-radius: 5%;

    &:hover {
        background-color: $grey;
    }

    &:not(:disabled) {
        @include base-btn();
        cursor: pointer;
    }
}

@mixin base-btn {
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5 ease-in-out;
    background-color: $blue;
    color: white;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $dark-blue;
    }
}

@mixin btn-back {
    @include base-btn;
    background-color: $notificacion;
    cursor: not-allowed;
    border-radius: 5%;

    &:hover {
        background-color: $warning;
    }
}

@mixin btn-edit {
    @include base-btn;
    background-color: $mediumgrey;
    cursor: not-allowed;
    border-radius: 5%;

    &:hover {
        background-color: $grey;
    }

    &:not(:disabled) {
        @include base-btn();
        background-color: $green;
        cursor: pointer;
        &:hover {
            background-color: $dark-green;
        }
    }
}



/*--------- form styles ---------------*/

@mixin input-element {
    input {
        font-family: "Titillium Web", sans-serif;
        color: $charcoal;
        padding: 5px 0px 5px 5px;
        width: 100%;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px solid $blue;
        background-color: transparent;
        transition: 0.5s all ease-in-out;
        font-size: 1.1em;
        margin-bottom: 21px;

        &:focus {
            outline: none;
            border-bottom: 1px solid $dark-blue;
        }
    }
}

@mixin base-grid {
    display: grid;
    gap: 21px;
}

@mixin form-group-name($columns: 3) {
    @if $columns ==2 {
        display: grid;
        grid-template-columns: 4fr 2fr;
        gap: 21px;
    }

    @else {
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        gap: 21px;
    }
}

@mixin form-group-address {
    display: grid;
    grid-template-columns: 2.6fr 0.6fr 0.6fr 1.2fr;
    gap: 21px;
}

@mixin form-group-card {
    display: grid;
    grid-template-columns: 3fr 1.5fr 0.5fr;
    gap: 21px;
}

/*--------------form pay styles--------------------*/


@mixin input-pay-element {
    input{                                       
        font-family: "Titillium Web", sans-serif;
        color: $charcoal;
        padding: 5px 0px 5px 5px;
        width: 100%;
        min-width: 400px;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border: 1px solid black;
        background-color: transparent;
        transition: 0.5s all ease-in-out;
        font-size: 1.2em;
        margin-bottom: 21px;
        color: $dark-blue;

        &:focus {
            border: none;
            border-bottom: 2px solid $blue; 
            outline: none; 
            box-shadow: 0 0 5px $blue;
        }

        &::placeholder {
            color: $mediumgrey;
        }

    }
}

@mixin toogle-input {
    width: 100%;
    min-width: 400px;
    cursor: pointer;
    border: 1px solid $lightgrey;
    background-color: $offwhite;
    width: 100%;
    margin-bottom: 5px;

    h3 {
        margin: 5px;
    }
}

/*-------------- dashborar styles -----------------*/

@mixin dashboard-courses-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 21px;
}

@mixin dashboard-process {
    width: 100%;
    background: linear-gradient(135deg, $light-orange-start, $light-orange-end);
    border-radius: 5%;
}

@mixin dashboard-completed {
    width: 100%;
    background: linear-gradient(135deg, $light-green-start, $light-green-end);
    border-radius: 5%;
}

@mixin dashboard-favorites {
    width: 100%;
    background: linear-gradient(135deg, $blue-start, $blue-end);
    border-radius: 5%;
}

/* ----------------------- ICONS STYLES --------------------------*/

@mixin nav-icon {
    display: flex;
    align-items: center;
    .sing-icon {
        font-size: 1.6em;
        cursor: pointer;
        color: $blue;
        transition: 0.5s ease-in-out;
        
        &:hover {
            color: $dark-blue;
        }
    } 

    .cart-icon {
        font-size: 1.6em;
        padding-left: 10px;
        cursor: pointer;
        color: $blue;
        transition: 0.5s ease-in-out;
        
        &:hover {
            color: $dark-blue;
        }
    }
}


@mixin icon-trash {

    font-size: 2em;
    color: $blue;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
        color: $dark-blue;
    }

}

@mixin icon-plus-circle {
    position: fixed;
    right: 100px;
    top: 250px;
    font-size: 3em;
    color: $blue;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
        color: $dark-blue;

    }
}

@mixin content-loader {
    font-size: 2.5em;
    color: $blue;
}

@mixin icon-start {
    font-size: 2.5em;
    color: $blue;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
        color: $dark-blue;
    }

}