.course-content-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;

    .content-loader {
        @include content-loader();
    }

    .course-content-item {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 3.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        margin-bottom: 20px;

        .course-content-image {
            img {
                max-width: 100%;
                min-width: 200px;
                height: auto;
            }
        }

        .course-content-text {
            display: flex;
            flex-direction: column;

            h2 {
                width: 100%;
                margin: 0px;
            }

            p {
                width: 600px;
                text-align: left;
                min-height: 100px;
            }
        }

        .course-content-text-title {
            padding-right: 20px;
            max-width: 70%;
        }

        .course-content-rest {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            .course-content-price {
                justify-content: center;
                text-align: center;
                font-weight: 700;
            }

            .course-content-price-through {
                color: gray;
                text-decoration: line-through;
            }

            .course-content-discounted-price {
                justify-content: center;
                text-align: center;
                color: red;
                font-weight: 700;
            }


        }

        .course-content-button {
            display: flex;
            align-items: center;

            .btn-add-cart {

            }

        }

        .course-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            .icon-trash {
                @include icon-trash();
            }

            .icon-star {
                @include icon-start();
            }

        }

    }

    .new-course-link {
        .icon-plus-circle {
            @include icon-plus-circle();
        }

    }

}