.course-content-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;

    .content-loader {
        @include content-loader();
    }

    .course-content-item {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 3.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        margin-bottom: 20px;

        .course-content-image {
            img {
                max-width: 100%;
                min-width: 200px;
                height: auto;
            }

            .icon-star-small {
                @include icon-star();
                @include icon-star-small();
                display: none;
            }

        }

        .course-content-text {
            display: flex;
            flex-direction: column;
            width: 100%;

            .course-content-text-title {
                width: 100%;

                a {
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;

                    h2 {
                        width: 100%;
                        margin: 0px;
                    }
                }

                .link-read-more {
                    @include link-read-more();
                }
            }
        }

        .course-content-rest {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            .course-content-price {
                justify-content: center;
                text-align: center;
                font-weight: 700;
            }

            .course-content-price-through {
                color: gray;
                text-decoration: line-through;
            }

            .course-content-discounted-price {
                justify-content: center;
                text-align: center;
                color: red;
                font-weight: 700;
            }
        }

        .course-content-button {
            display: flex;
            align-items: center;

            .btn-add-cart {}

        }

        .course-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            .icon-star {
                @include icon-star();
            }

        }

    }
}

/*-------------- Responsive -----------------------*/

@media (max-width: 1300px) {
    .course-content-page-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .course-content-item {
            grid-template-columns: 1fr 2.5fr 0.5fr 0.5fr 0.5fr;
            gap: 15px;

            .course-content-image img {
                max-width: 100%;
                min-width: 150px;

                .icon-star-small {
                    display: none;
                }
            }

            .course-content-text-title h2 {
                font-size: 1.5em;
            }

            .course-content-rest .course-content-price,
            .course-content-rest .course-content-discounted-price {
                font-size: 1.2em;
            }

            .btn {
                font-size: 1em;
            }
        }
    }
}


@media (max-width: 1170px) {

    .course-content-page-wrapper {
        width: 100%;
        display: grid !important; 
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px; 
        justify-content: center;
        
        .course-content-item {
            display: flex;
            flex-direction: column;
            width: 100%; 
            margin-bottom: 20px;
            padding: 15px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            height: auto;
            .course-content-image {
                width: 100%;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }

                .icon-star-small {
                    display: block;
                }

            }

            .course-content-text {
                .course-content-text-title {
                    width: 100%;
                    text-align: center;
                    margin-top: 10px;
                    min-height: 65px;

                    h2 {
                        font-size: 1.2em;
                        margin: 10px 0;
                    }

                    span {
                        display: none;
                    }
                }

            }
            .course-content-rest {
                margin-top: auto;
                min-height: 45px;
                .course-content-prices{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    text-align: center;
                  .course-content-price .course-content-discounted-price{
                    font-size: 1em;
                  }
                }
            }

            .course-content-rest .course-content-price,
            .course-content-rest .course-content-discounted-price {
                font-size: 1em;
            }

            .course-content-button {
                margin: 0 auto;
                justify-content: center;
                margin-top: auto;
         
                .btn-add-cart .btn {
                    font-size: 0.9em;
                }
            }

            .course-icons .icon-star {
                display: none;
            }
        }
    }
}

@media (max-width: 1024px) {

    .course-content-page-wrapper {
        width: 100%;
        display: grid !important; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 60px; 
        justify-content: center;
        
        .course-content-item {
            display: flex;
            flex-direction: column;
            width: 100%; 
            margin-bottom: 20px;
            padding: 15px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            height: auto;
            .course-content-image {
                width: 100%;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }

                .icon-star-small {
                    display: block;
                }

            }

            .course-content-text {
                .course-content-text-title {
                    width: 100%;
                    text-align: center;
                    margin-top: 10px;
                    min-height: 65px;

                    h2 {
                        font-size: 1.2em;
                        margin: 10px 0;
                    }

                    span {
                        display: none;
                    }
                }

            }
            .course-content-rest {
                margin-top: auto;
                min-height: 45px;
                .course-content-prices{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    text-align: center;
                  .course-content-price .course-content-discounted-price{
                    font-size: 1em;
                  }
                }
            }

            .course-content-rest .course-content-price,
            .course-content-rest .course-content-discounted-price {
                font-size: 1em;
            }

            .course-content-button {
                margin: 0 auto;
                justify-content: center;
                margin-top: auto;
         
                .btn-add-cart .btn {
                    font-size: 0.9em;
                }
            }

            .course-icons .icon-star {
                display: none;
            }
        }
    }
}

@media (max-width: 480px) {
    .course-content-page-wrapper {
        width: 100%;
        display: flex !important;
        flex-direction: column;

        .course-content-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            height: auto;

            .course-content-image {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }

                .icon-star-small {
                    display: block;
                    
                }
            }

            .course-content-text {
                .course-content-text-title {
                    h2 {
                        font-size: 1.1em;
                    }

                    span {
                        display: none;
                    }
                }

            }
            .course-content-rest {
                .course-content-prices{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    text-align: center;
                    margin-top: auto;
                  .course-content-price .course-content-discounted-price{
                    font-size: 1em;
                  }
                }
            }

            .course-content-rest .course-content-price,
            .course-content-rest .course-content-discounted-price {
                font-size: 1em;
            }

            .course-content-button {
                margin: 0 auto;
                justify-content: center;
                margin-top: auto;
                .btn-add-cart .btn {
                    font-size: 0.9em;
                }
            }
           
            .course-icons .icon-star {
                display: none;
            }
        }
    }
}