$blue: #25BCE5;
$dark-blue: #0e7e9c;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$warning: #922a2a;
$grey: #6d6b6b;
$lightgrey: #e1dcdc;
$mediumgrey: #a1a1a1;
$light-orange-start: #f6d365; 
$light-orange-end: #fda085; 
$greenDegraded: rgba(0,128,0, 0.3);
$light-green-start: #a8e6cf; 
$light-green-end: #dcedc1;
$blueDegraded: rgba(0, 0, 255, 0.6);
$blue-start: #449ce9; 
$blue-end: #00c6ff; 


